<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Home Page</title>

</head>
<body>
<div>
<div class="container">
    <div class="row">
      <div class="col-12">
        <img src="/images/logo.jpeg" class="img-fluid d-block mx-auto" width="200" height="200">
      </div>
    </div>
<div>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <a type="button" href="/add-ad" class="btn btn-outline-danger me-2" >Add Ad</a>
        <% if(user){ %>
          <a href="/logout" >Logout</a>
        <% }else{ %>
          <a href="/login" >Admin Login</a>
        <% } %>
      </div>
    </div>
  </nav>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
